@model SearchForTeamsViewModel
@{ 
    ViewData["Title"] = "SearchForTeamUserInput";
}

<h3>Search For Teams User Input</h3>
<h5>All selections are optional</h5>

<form asp-controller="Team" asp-action="SearchForTeams" method="post">
    <div class="form-group">
        <label> Choose Team</label>
        <select asp-for="Name" class="form-control">
            <option value="">None</option>
        </select>
    </div>

    <div class="form-group">
        <label> Choose City</label>
        <select asp-for="City" class="form-control">
            <option value="">None</option>
        </select>

    </div>

    <div class="form-group">
        <label> Choose a Division </label>
        <select asp-for="Division" class="form-control">
            <option value="">None</option>
            <option value="West">West</option>
            <option value="East">East</option>
        </select>

    </div>

    <div class="form-group">
        <label> Should have more wins than</label>
        <input asp-for="MinWins" class="form-control" />
    </div>

    <div class="form-group">
        <label> Should have less wins than</label>
        <input asp-for="MaxWins" class="form-control" />
    </div>

    <div class="form-group">
        <label> Should have more losses than</label>
        <input asp-for="MinLosses" class="form-control" />
    </div>

    <div class="form-group">
        <label> Should have less losses than</label>
        <input asp-for="MaxLosses" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Search For Teams</button>

</form>


<h4>Search Result</h4>

@if (Model.ResultTeamList.Any())
{
    <table>
        <thead>
            <tr>
                <th> Team Name</th>
                <th> Team City</th>
                <th> Division</th>
                <th> Wins</th>
                <th> Losses</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Team eachTeam in Model.ResultTeamList)
            {
                <tr>
                    <td>@eachTeam.Name</td>
                    <td>@eachTeam.City</td>
                    <td>@eachTeam.Division</td>
                    <td>@eachTeam.Wins</td>
                    <td>@eachTeam.Losses</td>
                </tr>
            }

        </tbody>

    </table>

}

else
{
    <h4> No teams meet your search criteria</h4>
}


